<h1>Lucy van Pelt</h1>
<div id="nav">
  {{#link-to 'about'}}About{{/link-to}} |
  {{#link-to 'personal'}}Personal{{/link-to}} |
  {{#link-to 'connect'}}Connect{{/link-to}}
  <br>
</div>

<div id="outlet">
  {{outlet}}
</div>
