<div class="ui grid">
  <div class="eight wide column">
    <div class="image">
      <img src="assets/images/Lucy_van_Pelt.png" />
    </div>
  </div>
  <div class="eight wide column">
    <div class="column">
      <a href="https://twitter.com/Snoopy">
        <i class="twitter icon"></i> Twitter
      </a><br>
      <a href="https://www.facebook.com/Snoopy">
        <i class="facebook icon"></i> Facebook
      </a><br>
      <a href="http://instagram.com/snoopygrams">
        <i class="instagram icon"></i> Instagram
      </a><br>
      <a href="https://vine.co/Snoopy">
        <i class="vine icon"></i> Vine
      </a>
    </div>
  </div>
</div>
